<h4 id="back-button" style="">⇠ Retour</h4>
<%= link_to "back", main_form_back_path(main_form_id: @main_form.friendly_id), id: "back-link" %>
<div id="question-card">
  <%= render 'question_card', question: @question, main_form: @main_form %>
  <div class="form-container">
    <%= simple_form_for @main_form, remote: true do |f| %>
      <div class="form-fields">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :return_to_previous, false %>
        <%= f.input :answers, label: "", collection: {
          yes: "#{ @current_question }_yes_#{ @question[:answers][:yes] }",
          no: "#{ @current_question }_no_#{ @question[:answers][:no] }"
        }, as: :radio_buttons %>
      </div>
    <% end %>
  </div>
</div>

