<div id="question-card">
  <h3 style="text-align: center;"><%= sanitize @question[:question] %></h3>
  <% if @question[:precisions] != '' %>
    <h4><%= @question[:precisions] %></h4>
  <% end %>
  <hr>

  <div id="question-buttons-container">
    <div class="yes-no-container">
      <h2 id="button-yes" class="question-buttons">OUI</h2>
      <p><%= @main_form.current_question_answers_text[:yes] %></p>
    </div>
    <div class="yes-no-container">
      <h2 id="button-no" class="question-buttons">NON</h2>
      <p><%= @main_form.current_question_answers_text[:no] %></p>
    </div>
  </div>

  <div class="form-container">
    <%= simple_form_for MainForm.new, remote: true do |f| %>
      <div class="form-fields">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.input :answers, label: "", collection: {yes: "a_yes_b", no: "a_no_endB" }, as: :radio_buttons %>
      </div>
    <% end %>
  </div>

</div>

