<div id="question-card">
  <h3 style="text-align: center;"><%= @question[:question] %></h3>
  <% if @question[:precisions] != '' %>
    <h4><%= @question[:precisions] %></h4>
  <% end %>
  <hr>

  <div>
    <h2 id="button-yes" class="question-buttons">OUI</h2>
    <h2 id="button-no" class="question-buttons">NON</h2>
  </div>
  <div class="form-container">
    <%= simple_form_for MainForm.new, remote: true do |f| %>
      <div class="form-fields">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.input :answers, label: "", collection: {yes: "a_yes_b", no: "a_no_endB" }, as: :radio_buttons %>
      </div>
    <% end %>
  </div>

  <!-- <hr> -->

<!--   <p><%#= @question %></p>
  <div>
    <p>OUI : mène a la <strong style="color: rgb(90, 160, 240);"><%#= @question[:answers][:yes].to_s.start_with?('end') ? 'fin' : 'question' %></strong> => <%#= @question[:answers][:yes] %>: "<%#= MainForm::TREE[@question[:answers][:yes]][ @question[:answers][:yes].to_s.start_with?('end') ? :conclusion : :question ] %></p>
    <p>NON : mène a la <strong style="color: rgb(90, 160, 120);"><%#= @question[:answers][:no].to_s.start_with?('end') ? 'fin' : 'question' %></strong> => <%#= @question[:answers][:no] %>: "<%#= MainForm::TREE[@question[:answers][:no]][ @question[:answers][:no].to_s.start_with?('end') ? :conclusion : :question ] %>"</p>
  </div> -->
</div>

