<div class="hello">

  <h1>Conclusion</h1>

    <h4 id="back-button" style="">⇠ Retour à la question précédente</h4>
    <%= link_to "back", main_form_back_path(main_form_id: @main_form.friendly_id), id: "back-link" %>

  <h3> <%= @end[:conclusion] %> </h3>

</div>

<div id="answer-recap-container">
  <h3 style="text-align: center;">Récapitulatif de vos réponses</h3>
  <% @main_form.answers.split('_').each_slice(3).with_index do |e, i| %>
    <p><%= i + 1 %> - <%= MainForm::TREE[e[0].to_sym][:question] %></p>
    <p>Votre réponse : <strong> <%= e[1] == 'yes' ? 'Oui' : 'Non' %> </strong></p>
  <% end %>
</div>
