<div class="hello">

<h1 style="text-align: center; padding-top: 10vh;">Conclusion</h1>
<%= link_to "RETOUR", back_path(id: @main_form.id) %>

<h3 style="text-align: center"> <%= @end[:conclusion] %> </h3>

</div>

<div style="width: 80vw; margin: 10vh auto 0 auto; padding: 35px 80px; background-color: rgba(220, 220, 220, 0.2)">
  <h3 style="text-align: center;">Récapitulatif de vos réponses</h3>
  <% @main_form.answers.split('_').each_slice(3).with_index do |e, i| %>
    <p><%= i + 1 %> - <%= MainForm::TREE[e[0].to_sym][:question] %></p>
    <p>Votre réponse : <strong> <%= e[1] == 'yes' ? 'Oui' : 'Non' %> </strong></p>
  <% end %>
</div>

<style>
  .hello {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
  }
</style>
